<div class="container">
  <header class="header-menu">
    <div class="logo">
      <h1>station</h1>
      <p>performance anyware</p>
    </div>
    <a href="" class="menu">
      <img src="/assets/icons/menu-button.png" class="menu-button" />
    </a>
  </header>

  <nav class="nav-bar">
    <button>
      <img src="/assets/icons/principal.png" alt="" />
    </button>
    <button>
      <img src="/assets/icons/group.png" alt="" />
    </button>
    <button>
      <img src="/assets/icons/interprise.png" alt="" />
    </button>
    <button>
      <img src="/assets/icons/person.png" alt="" />
    </button>
  </nav>

  <aside class="card-team">
    <app-card-team></app-card-team>
  </aside>

  <main class="dashboard"></main>
</div>
